# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binaries
*_test

# Dependency directories
vendor/
go.mod
go.sum

# Go build cache
.cache/go-build/

# IDE and editor files
.idea/
.vscode/
*.swp
*.bak
*~

# Operating System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
tmp/

# Local test file
test.html

# Output file
output.json

# Go coverage
coverage.cov